{% extends 'base.html.twig' %}

{% block title %}
<title>
   À propos
  </title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="col-md-7 mx-auto">
<div class="card mb-3" id="about">
    <h3 class="card-header text-center">Cocoa Dream</h3>
    <div class="card-body">
      <h5 class="card-title mt-5 text-center">Un savoir-faire ancestral</h5>
    </div>
    <img style="height: 710 px; width: 100%; display: block;" src="{{asset('images/img3.jpg')}}">
    <div class="card-body">
      <p class="card-text" id="presentation">En 1915, vingt-cinq maîtres chocolatiers et torréfacteurs sont rassemblés au sein de « la Fabrique de chocolats ». Il n’est pas rare à l’époque, de voir les automobiles Cocoa Dream sillonner la ville pour livrer ses détaillants.

        Dès les années 1920, Cocoa dream se lance dans la torréfaction de cacao. Depuis, l’entreprise est restée familiale, et est dirigée par la quatrième génération.
        
        En 1958, Cocoa Dream obtient une médaille d'or à l'Exposition universelle de Bruxelles.
        
        En 1983, Cocoa Dream devient commandeur de la confrérie des chocolatiers de France.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cocoa Dream &copy</li
    </ul>
    <div class="card-footer text-muted">
      Depuis 102 ans
    </div>
  </div>
    </div>
</div>
{% endblock %}
