/* Navbar */

@media only screen and (max-width : 768px) {
  .nav-link {
    text-align: center !important;
  }
  }

  @media only screen and (max-width :575px) {
    .nav-link {
      text-align: center !important;
    }
    .nav-item {
      text-align: center !important;
    }

    .table th, .table td {
      padding: 0.5rem;
    }
    .table th:nth-child(2), .table td:nth-child(2) {
      display: none;
    }

    .card-img-top{
      width: 60%;
    }

    .product-title{
      font-size: 40px;
    }
    }

  .navbar {
    opacity: 0.975;
  }

  .nav-item:last-child{
    margin-left: 1rem;
  }

  /* Title */
  
  h1 {
    margin-top: 100px;
    font-size: 1.5rem;
    font-weight: 600;
  }

  #product-page {
    margin-top: 105px;
  }

  #btn-sign {
    margin-bottom: 15px;
  }

  #btn-login {
    margin-bottom: 15px;
  }

  .fas {
    font-size: 1.8rem;
    text-align: right;
  }

#about{
  margin-top: 110px;
  margin-bottom: 20px;
}

#add-product {
  margin-top: 120px;
  margin-bottom: 124px;
}

#up-product {
  margin-top: 120px;
  margin-bottom: 124px;
}

#sign-up {
  margin-top: 120px;
  margin-bottom: 55px;
}

#up-user {
  margin-top: 120px;
  margin-bottom: 45px;
}

#login {
  margin-top: 260px;
  margin-bottom: 240px;
}

#add-category {
  margin-top: 300px;
  margin-bottom: 280px;
}

.card-img-top {
  background-size: cover;
}

footer{
  bottom: 0;
  width:100%;
}

.shopping-cart {
  text-align: center;
}

.priceTotal {
  text-align: center;
}

#shopping {
  margin-top: 130px;
  margin-bottom: 50px;
}


#width-banner {
  background-size: cover; 
  width: 100%;
}


#div-banner {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.fa-shopping-cart {
  color: white;
  padding-top: 5px;
  transition: 1s;
}

.fa-shopping-cart:hover {
  color: #007B4B;
  padding-top: 5px;
}

.carousel-inner{
  height:auto;
  width:90%;
  overflow: hidden;
}

@media only screen and (min-width : 1920px) {
  .carousel-inner {
   height: 930px;
  }
  p.animated.fadeInLeft {
    padding-bottom: 60px;
  }
 }

 @media only screen and (max-width: 575px) {
  .carousel-inner {
    margin-top: 140px;
 }
 #remove-product {
  margin-top: 10px;
  margin-left: 0px !important;
}
}

@media only screen and (max-width : 768px) {
  .carousel-inner {
   margin-top: 95px;
  }
 }

.carousel {
  margin-bottom: 15px;
}

.btn {
  text-align: center;
}

#slogan h5 {
  font-family:'Cormorant Garamond', serif;
  font-size: 70px;
  font:bold;
  color: whitesmoke !important;
  margin-bottom: 95px;
  text-shadow: 1px 1px 7px rgb(41, 41, 41);
  }
  
  #slogan p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 70px;
    margin-bottom: 30px;
    }
  
  .product-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    color: dimgray;
  }

  .partie1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    text-align: center;
  }

  hr.style-two { border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }

  #product-show {
    margin-bottom: 30px;
    overflow: hidden;
    padding-right: 0;
  }

  #update-category {
    margin-bottom: 15px;
  }

  #update-user {
    margin-bottom: 15px;
  }

/* Footer */

  .fab {
    font-size: 1.3rem;
    color: white;
  }

  .fab:hover {
    color: #007B4B;
  }

  .far {
    font-size: 1.3rem;
    color: white;
    transition: 1.5s;
  }

  .far:hover {
    color: rgb(231, 200, 25);
  }

  #footer-first {
    padding-top: 15px;
  }


/* Home img */

#animate:hover {
  transform: scale(1.075);
  overflow: hidden;
}

.card-img-top {
  transition: 0.7s;
  overflow: hidden;
}

.dropdown-menu{
  margin-top: 23px; 
  background-color: #393D42; 
}
  
.dropdown-item{
  color:white;
}

.fa-trash-alt:hover {
  color: #B82F2F;
}

#command {
  padding-bottom: 15px;
  text-align: center;
}

#presentation {
  white-space: pre-line;
}
/* show product */
#show-list{
  background-color: white !important;
  color: black;
  font-family: 'Cormorant Garamond', serif;
}
#show-description{
  background-color: rgb(84, 0, 125)!important;
  color: white;
  font-family: 'Cormorant Garamond', serif;
}