{% extends 'base.html.twig' %}

{% block title %} 
    <title>
        Maj Profil 
    </title>
{% endblock %}

{% block body %}

<div class="container" id="up-user">
    <h1>Mettre à jour le Profil</h1>
{{form_start(form)}}
{{form_widget(form)}}
<button class="btn btn-primary" id="update-user">Mettre à Jour</button>
{{form_end(form)}}
</div>





{% endblock %}