{% extends 'base.html.twig' %}

{% block title %} 
    <title>
        Ajouter un Produit
    </title>
{% endblock %}

{% block body %}

<div class="container" id="add-product">
    <h1>Ajouter un Produit</h1>
{{form_start(form)}}
{{form_widget(form)}}
<button class="btn btn-primary">Ajouter Produit</button>
{{form_end(form)}}
</div>





{% endblock %}