{% extends 'base.html.twig' %}

{% block title %}
    <title>
        Produit
    </title>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="col-md-6 mx-auto">
        <div class="card mb-3" id="product-page">
            <h3 class="card-header text-center">{{product.name}}</h3>
            <img style="height: 200 px; width: 80%; display: block;" src="{{asset('uploads/images/'~product.image)}}" alt="Card image" class="animated fadeIn mx-auto">
           
                   
                              
            <ul class="list-group list-group-flush">
                      <li class="list-group-item" id="show-description"> {{product.description}} </li>
                    
         
            <li class="list-group-item" id="show-list">Catégorie: {{product.category.name}}</li>
            <li class="list-group-item" id="show-list">Prix: {{product.price}} €</li>

            </ul>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="card-body">
                <form method="post" action="{{path('product_line', {id:product.id})}}">
                  <input type="number" name="number">
                  <button class="btn btn-primary">Ajouter au panier</button>
                </form>
              </div>
              {% endif %}
            
            {% if is_granted('ROLE_ADMIN') %}
            <div class="card-footer text-muted">
                <a class="btn btn-primary" href="{{path('update_product', {id:product.id})}}">Mettre à jour Produit</a>
                <a class="btn btn-primary  ml-3" id="remove-product" href="{{path('remove_product', {id:product.id})}}">Supprimer Produit</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}