{% extends 'base.html.twig' %}

{% block title %} 
    <title>
        Mettre à jour Produit 
    </title>
{% endblock %}



{% block body %}

<div class="container" id="up-product">
    <h1>Mettre à jour Produit</h1>
{{form_start(form)}}
{{form_widget(form)}}
<button class="btn btn-primary">Mettre à jour</button>
{{form_end(form)}}
</div>





{% endblock %}