{% extends 'base.html.twig' %}

{% block title %}
    <title>
        Panier
    </title>
{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="col-md-6 mx-auto" id="shopping">
    <h1 class="shopping-cart mb-4">Panier</h1>
        <table class="table" >
          <thead>
            <tr>
              <th>Produit</th>
              <th>Quantité</th>
              <th>Prix</th>
            </tr>
          </thead>
           {% for row in productLine %}
          <tbody>
        
            <tr class="table">
                    <td>{{row.product.name}}</td>
                    <!-- <td>{{row.product.image}}</td> -->
                    <td>{{row.quantity}}</td>
                    <td>{{row.price}}.00€</td>
                    <td><a class="btn" style="color:black;" href="{{ path("remove_productLine", {"id": row.id}) }}"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
         
          </tbody> 
            {% endfor %}
        </table>
      <p class="priceTotal">Prix Total: {{totalPrice}}.00€</p>

      <div  id="command">
        <a href="{{path('remove_productLines')}}" class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModalCenter">Finaliser votre commande</a>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Votre commande va être expédiée sous peu !</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>


{% endblock %}
